body
{
	margin: 0 !important;
	padding: 0 !important;
	line-height: %{line_height}% !important;                    /* default: 140% */
	font-size: %{font_size}px !important;            /* default: 28 */
	font-family: "%{font_family}", serif !important; /* default: Georgia */
	/*
	 * This is here, so that there would be at least a page amount
	 * of free space at the bottom, which is needed so that the last
	 * page could be scrolled. Using the WP8 value just in case
	 */
	padding-bottom: 1280px !important;
	word-wrap: break-word !important;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	margin-left: 5%;
	margin-right: 5%;
	line-height: 120%;
	font-size: 100%;
}

h1 {
	font-size: 200%
}

h2 {
	font-size: 150%;
}

h3 {
	font-size: 115%;
}

p {
	text-align: %{text_align} !important; /* default: justify */
	text-indent: 5%;
	padding: 0;
	margin: 0;
}

/*
 * This styling might misplace some layouts, but for the most part,
 * should actually make them look more aesthetic on the small screen,
 * as it won't leave small piece of text dangling around.
 */
img {
	max-width: 90%;
	max-height: 80%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
}

hr {
    border: 0;
    border-bottom: 1px solid black;
}

/*
 *  Theme
 */
html {
	background-color: %{background_color} !important; /* Default: white */
	color:            %{text_color} !important;       /* Default: black */
}

i, em {
	color: %{accent_color} !important; /* Default: #634F3B */
}

hr {
	border-bottom-color: %{text_color} !important;
}
